.Mega {
    width: 250px;
    padding: 5px;
    border: 2px dashed #558b2f;
}
.Mega .display {
    width: 235px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #558b2f;
}

.Mega .display ul {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    min-height: 55px;
}

.Mega .display ul li {
    margin-bottom: 5px;
    width: 50px;
    border-radius: 25px;
    line-height: 50px;
    background-color: #f1f8e9;
    color: #ff3d00;
    font-weight: bold;
    text-align: center;
}
li + li {
    margin-left: 5px;
}
.Mega .display ul li:nth-child(4n) + li {
    margin-left: 0;
}

div.entrada {
    width: 249px;
    margin: auto;
}

.Mega input, .Mega button {
    height: 25px;
}

.Mega input {
    width: 160px;
}

.Mega button {
    text-transform: uppercase;
    width: 65px;
    box-sizing: content-box;

}